
.home{
    width: 100%;
    position: relative;
}

/*----------------Global------------------*/

.fixedCover{
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.flexRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.GcpLogo{
    font-size: 50px;
}

.GnavTextMedium{
    font-weight: bold;
    transform: scaleX(.8) scaleY(1.2);
    height: 100%;
    padding-top: 22px;
    text-decoration: none;
    color: black;
}
.GnavTextMedium:hover{
    cursor: pointer;
    border-bottom: 5px solid grey;
}
.aLink{
    text-decoration: none;
    color: black;
}
.aLink:hover{
    cursor: pointer;
}

